.container {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  gap: 1rem;
}

.separator {
  border: 2px solid gray;
  border-radius: 7px;
}

@media screen and (min-width: 1024px) {
  .container {
    display: flex;
    flex-grow: 1;
    flex-direction: row;
    padding-top: 2rem;
    gap: 1rem;
  }
}
